<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> olá  {{user}} {{user.pk}} </h2>
    <h3>para sair clique <a href="{% url 'accounts_logout' %}">aqui</a>  </h3>

    {% for despesa in despesas %}
        <div>
            <p> {{despesa.descricao}}  | {{despesa.valor}}   </p>
        </div>
    {% endfor %}
</body>
</html>